{% extends "base.html" %}
{% block content %}
<div class="row">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-warning" role="alert">
            {% for message in messages %}
              {{ message }}<br>
            {% endfor %}
          </div>
        {% endif %}
    {% endwith %}
</div> 
<div class="col-12"> 
    <nav aria-label="breadcrumb">
        <h4><ol class="breadcrumb" style="width: 900px">
          <li class="breadcrumb-item">Budget</li>
          <li class="breadcrumb-item active" aria-current="page">Expenses</li>
        </ol></h4>
    </nav>

  <div class="input-group mb-3">    
    <div class="form-check form-check-inline">
    <div class="card text-white bg-dark mb-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Add new category</h5>          
          <a href="/create_category" class="btn btn-outline-light">Add</a>
        </div>
    </div>
    </div>  
</div>   


    <div class="form-check form-check-inline">
    <div class="card text-white bg-primary mb-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Transportation</h5>
          <p class="card-text">Amount: 0 €</p>
          <p class="card-text">Card MasterCard</p>
          <p class="card-text">18.10.2022</p>
          <a href="#" class="btn btn-outline-light">Edit</a>
        </div>
    </div>  
    </div>

    <div class="form-check form-check-inline">
        <div class="card text-white bg-success mb-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Workout</h5>
              <p class="card-text">Amount: 0 €</p>
              <p class="card-text">Cash</p>
              <p class="card-text">19.10.2022</p>
              <a href="#" class="btn btn-outline-light">Edit</a>
            </div>
        </div>  
        </div>

    <div class="form-check form-check-inline">
        <div class="card text-white bg-danger mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Family</h5>
                <p class="card-text">Amount: 0 €</p>
                <p class="card-text">Card MasterCard</p>
                <p class="card-text">13.10.2022</p>
                <a href="#" class="btn btn-outline-light">Edit</a>
            </div>
        </div>  
    </div>    

    <div class="form-check form-check-inline">
        <div class="card text-white bg-warning mb-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Groceries</h5>
              <p class="card-text">Amount: 0 €</p>
              <p class="card-text">Card MasterCard</p>
              <p class="card-text">11.10.2022</p>
              <a href="#" class="btn btn-outline-light">Edit</a>
            </div>
        </div>  
    </div>

    <div class="form-check form-check-inline">
        <div class="card text-white bg-info mb-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Gifts</h5>
              <p class="card-text">Amount: 0 €</p>
              <p class="card-text">Cash</p>
              <p class="card-text">13.10.2022</p>
              <a href="#" class="btn btn-outline-light">Edit</a>
            </div>
        </div>  
    </div>

    <div class="form-check form-check-inline">
        <div class="card text-white bg-success mb-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Cafe</h5>
              <p class="card-text">Amount: 0 €</p>
              <p class="card-text">Card MasterCard</p>
              <p class="card-text">15.10.2022</p>
              <a href="#" class="btn btn-outline-light">Edit</a>
            </div>
        </div>  
    </div>

</div>

<div class="col-0">    
</div>

{% endblock %}
