{% extends "base.html" %}
{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-warning" role="alert">
          {% for message in messages %}
            {{ message }}<br>
          {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  <div class="row">
      <div class="col-2">        
      </div>
      <div class="col-8">
          <p class="text-monospace">is a program for housekeeping
            and family budget planning. It will help you control your household budget.</p>
          <p class="text-monospace">The main idea is the division of expenses (and income) into categories.
            This allows you to immediately see where and in what quantities the money
            is spent and plan the family budget more efficiently.</p>
          <p class="text-monospace">The system of categories is tree-like with unlimited nesting - each category
            can have subcategories, those, in turn, their own subcategories, and so on.</p>
          <p class="text-monospace">In the reports, you can visually see information about the movement of funds
            and analyze the overall picture of the household budget. In this way, all cash
            flows can be easily assessed.</p>
      </div>
      <div class="col-2">
         
    </div>
  </div>        
{% endblock %}
