<div style="height: 150px;">  
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" style="font-size: 170%;" href="/">Home</a>
  </li>


  <li class="nav-item dropdown" >
    <a class="nav-link dropdown-toggle" style="font-size: 170%;" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Budget</a> 
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/budget_income">Income</a>
      <div class="dropdown-divider"></div> 
      <a class="dropdown-item" href="/budget_expenses">Expenses</a>      
      <div class="dropdown-divider"></div>      
    </div>
  </li>


  <li class="nav-item">
    <a class="nav-link" style="font-size: 170%;" href="/accounts">Accounts</a>
  </li>

 
  <li class="nav-item dropdown" >
    <a class="nav-link dropdown-toggle" style="font-size: 170%;" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Category</a> 
    <div class="dropdown-menu">
      <a class="dropdown-item" href="category_income">Income</a>
      <div class="dropdown-divider"></div> 
      <a class="dropdown-item" href="/category_expenses">Expenses</a>      
      <div class="dropdown-divider"></div>      
    </div>
  </li>


  <li class="nav-item">
    <a class="nav-link" style="font-size: 170%;" href="#">Reports</a>
  </li>


  <li class="nav-item">
    <a class="nav-link disabled" style="font-size: 170%;" href="/new_transaction">+ Add transaction</a>
  </li>


</ul>
</div>
