<div class="p-3 mb-2" style="height: 100px;  background-color: rgb(223, 223, 223);"> 

 
<ul class="nav nav-pills">
  <div class="col-2">
  <li class="nav-item">
    <a class="nav-link text-dark" style="font-size: 170%;" href="/">
      <img src="/static/images/home (1).png" width="33" height="33" alt="Home"> </a>
  </li>
  </div>



  <li class="nav-item dropdown" >
    <a class="nav-link dropdown-toggle text-dark" style="font-size: 170%;" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <img src="/static/images/money-bag.png" width="25" height="25" class="d-inline-block fixed-link" alt=""> Budget</a> 
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/budget/budget_income">Income</a>
      <div class="dropdown-divider"></div> 
      <a class="dropdown-item" href="/budget/budget_expenses">Expenses</a>      
      <div class="dropdown-divider"></div>      
    </div>
  </li>

  

  <li class="nav-item">
    <a class="nav-link text-dark" style="font-size: 170%;" href="/accounts">
      <img src="/static/images/credit-cards.png" width="25" height="25" class="d-inline-block fixed-link" alt=""> Accounts</a>
  </li>

  
  <li class="nav-item dropdown" >
    <a class="nav-link dropdown-toggle text-dark" style="font-size: 170%;" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <img src="/static/images/categories.png" width="25" height="25" class="d-inline-block fixed-link" alt=""> Category</a> 
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/categories/category_income">Income</a>
      <div class="dropdown-divider"></div> 
      <a class="dropdown-item" href="/categories/category_expenses">Expenses</a>      
      <div class="dropdown-divider"></div>      
    </div>
  </li>

 
  <li class="nav-item">
    <a class="nav-link text-dark" style="font-size: 170%;" href="/reports/reports">
      <img src="/static/images/report.png" width="27" height="27" class="d-inline-block fixed-link" alt=""> Reports</a>
  </li>

  <div class="w-20 p-3" style="width: 170px;"></div>
  <li class="nav-item">
    <a class="nav-link disabled text-dark" style="font-size: 170%;" href="/transactions/new_transaction">
      <img src="/static/images/plus.png" width="27" height="27" class="d-inline-block fixed-link" alt=""> Add transaction</a>
  </li>
  

</ul>
</div>
