{% extends "base.html" %}
{% block content %}
<div class="row">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-warning" role="alert">
            {% for message in messages %}
              {{ message }}<br>
            {% endfor %}
          </div>
        {% endif %}
    {% endwith %}
</div> 
<div class="col-6">        
</div>

<div class="col-6">      
    <form action="{{ url_for('process_create_transaction') }}", method="POST">
        {{ form.hidden_tag() }}
      <div class="input-group mb-3"> 
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Expenses</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Income</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">Transfer</label>
        </div>            
      </div>

        <div class="input-group mb-3" style="width: 500px">
            <input class="form-control" type="text" placeholder="Description">            
        </div>      

        <div class="input-group mb-3" style="width: 500px">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Account</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Cash</option>
              <option value="1">Card</option>
              <option value="2">Bank</option>
              <option value="3">Add new...</option>
            </select>            
        </div>             
       
        <div class="input-group mb-3" style="width: 500px">
            <div class="input-group-prepend">
              <span class="input-group-text">Ammount</span>
            </div>
            <input type="text" class="form-control" aria-label="Amount">
            <div class="input-group-append">
              <span class="input-group-text">€</span>
            </div>            
        </div>

        <div class="input-group mb-3" >
            <div class="input-group-prepend">
                <span class="input-group-text">Date</span>            
            </div>
            <div style="width: 443px" >
                {{ form.date_of_transaction() }}
            </div>            
        </div>            

        <div class="input-group mb-3" style="width: 500px">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Category</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Salary</option>
              <option value="1">Groceries</option>
              <option value="2">Gift</option>
              <option value="3">Cafe</option>
              <option value="4">Transportation</option>
              <option value="5">Phone</option>
              <option value="6">Workout</option>
              <option value="7">Add new...</option>              
            </select>            
        </div>        
    
        <button type="submit" class="btn btn-primary">OK</button>
        <button type="submit" class="btn btn-secondary">Cancel</button>
    
    </form>
    
</div>

{% endblock %}